@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Corinthia';
  src: url('../fonts/Corinthia-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
html {
	height: 100%;
}
body {
    background: white;
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #FADEE1; /* change to desired color */
}
.navigation-bar > a {
    vertical-align: center;
    color: #b6e3e9;
    text-decoration: none;
    margin-right: 5px;
    height: 50px;        /* if you want it to take the full height of the bar */
    line-height: 50px;    /* if you want it vertically middle of the navbar */
}
/* Change the color of links on hover */
.navigation-bar a:hover {
  color: #FAF1D6;
}
/* Add a color to the active/current link */
.navigation-bar a:active {
  color: #FAF1D6;
}
/* override bootstrap */
.bg-body-tertiary {
    background-color: #FADEE1;
}
